<div class="center hero-unit">
	<h1>Resultados</h1>
	<% a = params[:word] %>
	<% cont=false %>
	<% @posts.each do |p| %>
		<% if p.text.downcase.index(a.downcase ) != nil %>
			<h3><%=p.title%></h3>
			<%=p.text%><br/>
			<% cont=true%>
		<% end %>
	<% end %>
	<% if cont == false %>
		<h2>No existe ningun post con "<%=a%>".</h2>
	<% end %>
</div>

